<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>User Directory</title>
</head>
<body>

<div class="container">
  <div class="row m-4">
    <div class="col text-center border border-dark">
      <h1>All Users</h1>
    </div>
  </div>

  <div class="row m-4 border border-dark">
    <div class="col-3 text-center m-3">
      <span class="h3">Search</span>
    </div>
    <div class="col-7 text-center m-3">

<!--      //TODO:IDEA: make a form w/ options to select profession and country, submit form and filter like that,-->
<!--      add the ability to sort and filter by date range on every page. filter the current list (find a way to grab this list)-->
      <select name="professions">
        <option value="">Select Profession</option>
        <option th:each="profession : ${professions}" th:text="${profession}"></option>
      </select>

      <select name="countries">
        <option value="">Select Country</option>
        <option th:each="country : ${countries}" th:text="${country}"></option>
      </select>

      <form action="users/id" method="GET">
        <div class="form-group d-flex flex-row">
          <div class="p-2">
            <input type="text" name="id" id="id" field="*{id}" class="form-control" placeholder="Enter ID"/>
          </div>
          <div class="p-2">
            <button type="submit" class="btn btn-outline-primary">search</button>
          </div>
        </div>
      </form>

      <div class="row">
        <form th:action="@{users/profession/developer}" method="GET">
          <div class="form-group d-flex flex-row">
            <div class="p-2">
              <button type="submit" class="btn btn-outline-primary">View Developers</button>
            </div>
          </div>
        </form>

        <form th:action="@{users/profession/doctor}" method="GET">
          <div class="form-group d-flex flex-row">
            <div class="p-2">
              <button type="submit" class="btn btn-outline-primary">View Doctors</button>
            </div>
          </div>
        </form>

        <form th:action="@{users/profession/worker}" method="GET">
          <div class="form-group d-flex flex-row">
            <div class="p-2">
              <button type="submit" class="btn btn-outline-primary">View Workers</button>
            </div>
          </div>
        </form>

        <form th:action="@{users/profession/police officer}" method="GET">
          <div class="form-group d-flex flex-row">
            <div class="p-2">
              <button type="submit" class="btn btn-outline-primary">View Police Officers</button>
            </div>
          </div>
        </form>

        <form th:action="@{users/profession/firefighter}" method="GET">
          <div class="form-group d-flex flex-row">
            <div class="p-2">
              <button type="submit" class="btn btn-outline-primary">View Firefighters</button>
            </div>
          </div>
        </form>
      </div>


      <form th:action="@{users/search/onlydoctorsanddevs/doctor/developer}" method="GET">
        <div class="form-group d-flex flex-row">
          <div class="p-2">
            <button type="submit" class="btn btn-outline-primary">Current Test</button>
          </div>
        </div>
      </form>
    </div>

    </div>
  </div>

  <div class="row m-4 border border-dark">
    <div class="col text-center m-3">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Profession</th>
          <th>Date Created</th>
          <th>Country</th>
          <th>City</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.id}">ID</td>
          <td th:text="${user.firstName}">First Name</td>
          <td th:text="${user.lastName}">Last Name</td>
          <td th:text="${user.email}">Email</td>
          <td th:text="${user.profession}">Profession</td>
          <td th:text="${user.dateCreated}">Date Created</td>
          <td th:text="${user.country}">Country</td>
          <td th:text="${user.city}">City</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>